process {
    errorStrategy = 'retry'
    maxRetries = 2
}

docker.enabled = true

params {
    subset_files = ""
    add_decoys = true
    alignment_order = "star"
    decoy_method = "reverse"
    decoy_string = "DECOY_"
    decoy_string_position = "prefix"
    enzyme = "Trypsin"
    openms_peakpicking = false
    peakpicking_inmemory = false
    peakpicking_ms_levels = ""
    quantification_method = "feature_intensity"
    quantify_decoys = false
    search_engines = "comet, msgf"
    shuffle_max_attempts = 30
    shuffle_sequence_identity_threshold = 0.5
    targeted_only = true
    transfer_ids = "false"
    skip_post_msstats = true
    msstats_threshold = 0.05
    add_triqler_output = false
    msstatslfq_feature_subset_protein = "top3"
    msstatslfq_quant_summary_method = "TMP"
    msstats_remove_one_feat_prot = false
    msstatslfq_removeFewMeasurements = false
    msstatsiso_useunique_peptide = false
    msstatsiso_rmpsm_withfewmea_withinrun = false
    msstatsiso_summaryformultiple_psm = "sum"
    msstatsiso_summarization_method = "msstats"
    msstatsiso_global_norm = false
    msstatsiso_remove_norm_channel = false
    msstatsiso_reference_normalization = false
    msstats_plot_profile_qc = false
}

if (params.search_engines.split(",").size() == 1) {
    process {

        // IDSCORESWITCHER
        withName: '.*:ID:PSMFDRCONTROL:IDSCORESWITCHER' {
            ext.args    = [
                "-new_score_orientation lower_better",
                "-old_score \"Posterior Error Probability\"",
                "-new_score_type q-value",
                "-debug $params.idscoreswitcher_debug"
            ].join(' ').trim()
            publishDir  = [
                path: { "${params.outdir}/idscoreswitcher" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
} else {
    process {
        // FDRCONSENSUSID
        withName: '.*:FDRCONSENSUSID' {
            ext.args    = "-PSM true -protein false"
        }
    }
}
