def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

params{
    tools = null
    pon = null
    vep_dbnsfp = false
    vep_loftee = false
    vep_spliceai = false
    vep_spliceregion = false
    intervals = null
    input = "manifest.csv"
    schema_ignore_params = "compute_multiplier"

    max_memory                 = 488.GB
    max_cpus                   = 64
    max_time                   = 240.h
}

process{

    errorStrategy = 'retry'
    maxRetries = 5

    withLabel:process_low {
        cpus         = { check_max( 2 * task.attempt, 'cpus' ) }
        memory       = { check_max( 15.GB * task.attempt, 'memory' ) }
        time         = { check_max( 24.h, 'time' ) }
    }
    withLabel:process_medium {
        cpus         = { check_max( 4 * params.compute_multiplier * task.attempt, 'cpus' ) }
        memory       = { check_max( 30.GB * params.compute_multiplier * task.attempt, 'memory' ) }
        time         = { check_max( 24.h, 'time' ) }
    }
    withLabel:process_high {
        cpus         = { check_max( 8 * params.compute_multiplier * task.attempt, 'cpus' ) }
        memory       = { check_max( 60.GB * params.compute_multiplier * task.attempt, 'memory' ) }
        time         = { check_max( 24.h * params.compute_multiplier, 'time' ) }
    }
    withName: 'BWAMEM1_MEM|BWAMEM2_MEM' {
        cpus         = { check_max( 16 * params.compute_multiplier * task.attempt, 'cpus' ) }
        memory       = { check_max( 120.GB * params.compute_multiplier * task.attempt, 'memory' ) }
        time         = { check_max( 24.h * params.compute_multiplier, 'time' ) }
    }
    withName:'GATK4_APPLYBQSR|GATK4_APPLYBQSR_SPARK|GATK4_BASERECALIBRATOR|SAMTOOLS_STATS'{
        cpus         = { check_max( 8 * params.compute_multiplier * task.attempt, 'cpus' ) }
        memory       = { check_max( 60.GB * params.compute_multiplier * task.attempt, 'memory' ) }
        time         = { check_max( 24.h * params.compute_multiplier, 'time' ) }
    }
    withName:'GATK4_APPLYBQSR|GATK4_APPLYBQSR_SPARK|GATK4_BASERECALIBRATOR|GATK4_GATHERBQSRREPORTS'{
        cpus         = { check_max( 8 * params.compute_multiplier * task.attempt, 'cpus' ) }
        memory       = { check_max( 60.GB * params.compute_multiplier * task.attempt, 'memory' ) }
        time         = { check_max( 24.h * params.compute_multiplier, 'time' ) }
    }
    withName: 'GATK4_MARKDUPLICATES'{
        cpus         = { check_max( 16 * params.compute_multiplier * task.attempt, 'cpus' ) }
        memory       = { check_max( 120.GB * params.compute_multiplier * task.attempt, 'memory' ) }
        time         = { check_max( 48.h * params.compute_multiplier, 'time' ) }
        queue        = "${PW_ONDEMAND_JOB_QUEUE}"
    }
    withName: 'FREEBAYES|SAMTOOLS_STATS|SAMTOOLS_INDEX|UNZIP' {
        cpus         = { check_max( 4 * params.compute_multiplier * task.attempt, 'cpus' ) }
        memory       = { check_max( 30.GB * params.compute_multiplier * task.attempt, 'memory' ) }
        time         = { check_max( 24.h, 'time' ) }
    }
}

docker.registry       = 'quay.io'
apptainer.registry  = 'quay.io'