params.force_sratools_download = true

process {

    cpus   = { 1 * task.attempt }
    memory = { 6.GB * task.attempt }

    errorStrategy = { task.attempt <= 5 ? 'retry' : 'ignore' }
    maxRetries    = 10
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel:process_low {
        cpus   = 1
        memory = 6.GB
    }
    withLabel:process_medium {
        cpus   = 1
        memory = 6.GB
    }
    withLabel:process_high {
        cpus   = 1
        memory = 6.GB
    }
    withLabel:process_long {
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = 6.GB
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 10
    }

    withName: SRATOOLS_PREFETCH {
        container = "quay.io/biocontainers/sra-tools:3.0.9--h9f5acd7_0"
    }
}
